{
  "parser": "babel-eslint",
  "extends": [
    "airbnb/base"
  ],
  "plugins": [
    "react"
  ],
  "rules": {
    "indent": [2, 2, {"SwitchCase": 1}],
    "id-length": 0,
    "new-cap": [2, { "capIsNewExceptions": [
      "Immutable.Map",
      "Immutable.List",
      "Immutable.Set",
    ]}],
    "react/jsx-uses-react": 1
  },
  "globals": {
    "Stripe": true,
    "filepicker": true,
    "dispatcher": true,
    "snowplow": true,
    "optimizely": true,
    "analytics": true,
    "FB": true,
    "__BROWSER__": true,
    "CT": true,
    "globals": true,
    "__DEV__": true,
    "describe": true,
    "it": true,
    "expect": true,
    "beforeEach": true,
    "before": true,
    "afterEach": true,
    "after": true,
    "sinon": true,
    "Rollbar": true,
    "__TRANSLATION_DEBUG__": true,
  }
}
